<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CodeFactory</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1083208379281-268q9gtuppoo6qbfsoo5nva9g574mlam</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Allow access to Apple Music for creating playlists and playing music.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Allow your app to connect to Bluetooth devices for extended periods.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow your app to connect to Bluetooth accessories.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Allow access to your calendar for creating and managing events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Allow your app to add events to your calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to the camera for capturing photos and videos.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow access to your contacts for syncing and sharing.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allow your app to use Face ID for authentication.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow access to your location for tracking and navigation.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>YOUR-PURPOSE-KEY</key>
		<string>Temporary access to your location for specific purposes.</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow access to your location for tracking while using the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow access to the microphone for recording audio.</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow access to motion data for fitness tracking and analysis.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow your app to save photos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to your photo library for importing and exporting media.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>Allow access to reminders for managing tasks and to-dos.</string>
	<key>NSSiriUsageDescription</key>
	<string>Allow your app to integrate with Siri for voice commands and control.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Allow your app to recognize speech for voice commands and dictation.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Allow tracking of your activity across apps and websites owned by other companies.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
